$font-family: 'Sarabun', sans-serif;

$container-padding: 1rem;
$wrapper-padding: 1.7rem;

$bg-color: #fff;
$bg-accent-color: #f9f9f9;
$bg-hover-color: #e7e7e7;

$border-color: #f0f0f0;

$text-color: #000;

$primary-color: #5866f9;
$secondary-color: #d7d7d7;

$criteria-colors: (
  like: #a1e9c5,
  meh: #5866f9,
  dislike: #fd964c,
);
